{% extends 'base.html.twig' %}

{% block body %}
    {% for server in servers %}
        {% include 'AppBundle::server.html.twig' with {'server': server} %}
    {% endfor %}
    <a href="{{ path('server_new') }}" class="btn btn-outline-primary">Add server</a>
{% endblock %}
