{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            setInterval(function () {
                $(".queue-container").each(function() {
                    var container = this;
                    var id = $(this).attr('data-queue-id');
                    var path = '{{ path('message_count', {'id': '_id'}) }}';
                    path = path.replace('_id', id);

                    $.ajax(path)
                        .done(function (data) {
                            if (data.count > 10000) {
                                container.className = 'queue-container bg-danger text-white';
                            } else if (data.count >= 100) {
                                container.className = 'queue-container bg-warning text-white';
                            } else {
                                container.className = 'queue-container';
                            }
                            var selector = '#queue_' + id + '_messages';
                            $(selector).html(data.count);
                        });
                });
            }, 10000)
        });
    </script>
{% endblock %}
{% block body %}
    {% if servers is empty %}
        <div class="jumbotron">
            <h1 class="display-3">Server list is empty</h1>
            <p class="lead">You are not tracking any rabbit servers, go on and add some.</p>
            <p class="lead">
                <a href="{{ path('server_new') }}" class="btn btn-outline-primary">Add server</a>
            </p>
        </div>
    {% else %}
        <div class="card-columns">
        {% for server in servers %}
            {% include 'AppBundle::server.html.twig' with {'server': server} %}
        {% endfor %}
        </div>
    {% endif %}
{% endblock %}
